/*==== Universal selector - applies styles to all elements ====*/
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Smooth scrolling when navigating within the page */
}


/*==== Styles for the body element ====*/
body{
    height: 100dvh; /* Sets body height to 100% of the viewport height */
    width: 100vw;
    background-color: black; /* Body background */                 

    /* Sets up a grid layout for child elements (header, main, and footer) */
    display: grid;
    grid-template-columns: auto; /* Single column layout */
    grid-template-rows: auto auto auto; /* Each row (header, main, footer) can grow independently */
    grid-template-areas: /* Defines named areas for each section */
        "layout-header" 
        "main"
        "footer";
}


/*==== Styles for the header, main and footer ====*/
header{
    grid-area: layout-header; /* Assigns header to the designated grid area */
    width: 100%;
}


main{
    grid-area: main;
    margin: 0 auto; /* Centers main content horizontally */
    width: 100%;
}


footer{
    grid-area: footer;
    width: 100%;
}


/*==== Styles for the navbar ====*/
nav{
    width: 100%;
    height: 3.75rem; /* Using rem for responsive scaling */
    background: darkblue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/*==== LOGO ====*/
label .nav-logo{
    height: 100%;
    width: 100%;
    margin-right: auto; /* Pushes the logo to the left */
}
.logo-img{
    height: 100%;
    width: 100%;
}
.logo-img img{
    width: 100%; /* Set image width */
}

/*==== SEARCH INPUT FIELD ====*/
.nav-search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 0.188rem solid transparent; /* Transparent border to allow gradient effect */
    border-radius: 6.25rem;
    background: 
        linear-gradient(black,black) padding-box,
        linear-gradient(to right, aqua, purple) border-box;
    border-width: 0.188rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-search form{
    width: 100%; /* Full width form within container */
}

/* This code-snip is for the input-box */
.nav-search input{
    height: auto; /* Set height for the input */
    width: 100%;
    border: none;
    padding: 0;
    color: white; /* Text color */
    background-color: transparent;
}

/* This code-snip is for the magnifying glass */
.icon{
    width: auto;
    height: auto;
    border: none; /* Remove default border */
    z-index: 2; /* Elevates element above others */
    color: white; /* Icon color */
    background-color: transparent;
}


/* MENU */
.nav ul{
    float: right; /* Push menu-btn to the left */
    margin-right: 1.25rem;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;
}

nav ul li a{
    text-transform: uppercase;
    color: white;
}

a.active, a:hover{
    text-decoration: underline;
    transition: .5s;
}


/* LINKS */
.nav-menu{
    float: left;
    display: none;
    cursor: pointer;
    font-size: 1.875rem;
    color: white;
}

#check{
    display: none;
}

@media (max-width: 952px){
    nav ul li{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .nav-menu{
        display: block;
    }

    ul{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 5rem;
        left: -100;
        transition: all .5s;
        text-align: center;
        background: blue;
    }

    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 1.25rem;
    }

    a.active, a:hover{
        text-decoration: none;
        color: brown;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
/*==== Styles for desktop ====*/